

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(function () {
        console.log("ok");
        console.log(getCookie("language"));
        if (getCookie("language") == "en-GB") {
            document.querySelector("#myChk").checked = "checked";
        }
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function setcookie(name, value) {
        document.cookie = name + "=" + value + ";path=/";
    }

    function triggerLink() {
        const COOKIE_KEY = "language";
        var myChk = document.getElementById("myChk").checked;
        var cultureType = "";
        if (myChk) {
            cultureType = "en-GB";
        }
        else {
            cultureType = "pl-PL";
        }

        setcookie(COOKIE_KEY, cultureType);

        $.ajax({
            url: '@Url.Action("SwitchLanguage","Home")',
            type: 'Post',
            success: function () {
                console.log("It worked");
                location.reload();
            }
        });
    }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Milenium test", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.CheckBox("languageChanger", false, new { @id = "myChk", @onClick = "triggerLink()" })
                @Html.Label("languageChanger", "Change Language")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

